:root {
  --color--1: white;
  --color--2: #eeeeee;
  --color--3: #bbbbbb;
  --color--text-1: black;
  --color--text-2: #015787;
  --color--text-3: navy;
  --color--link-1: #0099cc;
  --color--link-2: #0077aa;
  --width--screen-little: 40pc;
  --width--margin-header: 1rem;
  --width--menu: 10rem;
  --width--margin: 0.5rem;
  --width--padding-1: 0.5rem;
  --width--padding-2: 0.1rem;
  --width--max: calc( 100% - var(--width--margin) * 2 );
  --width--margin-content: calc( var(--width--menu) + var(--width--margin) * 2 + var(--width--padding-1) * 2 + 2px );
  --height-line: 1.2em;
  --size--text-base: 1pc;
  --size--text-1: 1.4rem;
  --size--text-2: 0.8rem;
  --size--text-3: 2rem;
  --font--text: "Lucida Grande","Lucida Sans Unicode",verdana,geneva,sans-serif;
  --font--links: verdana,arial,helvetica,sans-serif;
  --font--mono: "Courier New",Courier,monospace;
}
html { font: var(--size--text-base) var(--font--text); }
body { margin: 0; padding: 0; color: var(--color--text-1); background-color: var(--color--1); }
p { margin: 0; text-indent: 0; padding: var(--width--padding-2) 0; }
a { text-decoration: none; font-weight: 600; font-family: var(--font--links); color: var(--color--link-1); }
a:link { color: var(--color--link-1); }
a:visited { color: var(--color--link-2); }
a:hover { background-color: var(--color--link-1); color: var(--color--2); }
pre { margin: 0; padding: var(--width--padding-1); white-space: pre-wrap; }
code { margin: 0; padding: 0 }
code, pre { font-family: var(--font--mono); font-size: inherit; color: var(--color--text-3); }
pre { border: solid var(--color--3); border-width: 1px 1px 1px 5px; background: var(--color--2) none repeat scroll 0% 0%; }
input[type="button"] { background-color: var(--color--2); border-color: var(--color--3); border-width: 1px; }
input[type="button"] { color: inherit; font-size: 1em; line-height: var(--height-line); }
input[type="button"]:active { color: var(--color--link-1); }
#header { margin: var(--width--margin-header) 0 var(--width--margin-header) 0; }
#header { padding: var(--width--margin-header) 0 0 var(--width--margin-header); }
#header { font-size: var(--size--text-1); line-height: var(--height-line); height: var(--height-line); }
#header { background-color: var(--color--2); border: solid var(--color--text-1); border-width: 1px 0px; }
#menu { display: inline-block; position: relative; left: var(--width--margin); max-width: var(--width--max); }
@media (min-width: 40pc) { #menu { float: left; }}
.menuframe { overflow: hidden; display: inline-block; vertical-align: top; }
.menuframe { margin: 0 var(--width--margin) var(--width--margin) 0; padding: var(--width--padding-1); }
.menuframe { line-height: var(--height-line); font-size: var(--size--text-2);}
.menuframe { background-color: var(--color--2); border: 1px dashed var(--color--text-1); width: var(--width--menu); }
@media (min-width: 40pc) { .menuframe { display: block; }}
.menuframe span { border-bottom: 1px dotted var(--color--text-1); }
.menuframe h1, .menuframe h2, .menuframe h3 { border-bottom: 1px dotted var(--color--text-2); }
.menuframe h2 { font-size: var(--size--text-base); }
.menuframe h1 a, .menuframe h2 a, .menuframe h3 a { color: var(--color--text-2); }
#content { margin: 0 var(--width--margin); padding: 0; max-width: 100%; }
#content { background: transparent no-repeat scroll right top; overflow: hidden; }
@media (min-width: 40pc) { #content { margin-left: var(--width--margin-content); }}
h1, h2, h3 { margin: 0; margin-top: 6px; line-height: var(--height-line); }
h1 { margin-top: 0; padding: 0px; font-size: var(--size--text-1); font-weight: 900; }
h2, h3 { padding: var(--width--padding-2); font-size: 1em; font-weight: 600; }
h1 { color: var(--color--text-2); }
h2 { color: var(--color--text-1); background-color: var(--color--2); }
h3 { color: var(--color--text-2); }
#footer { display: inline-block; position: relative; left: var(--width--margin); font-size: var(--size--text-2); }
#footer { margin: var(--width--padding-1) 0 0 0; padding: 0; max-width: var(--width--max); }
