%gc = (frame       =>  { foreground => 'frame' },
       frame_focus =>  { foreground => 'frame_focus' },
       title       =>  { foreground => 'title',       font => 'title' },
       title_focus =>  { foreground => 'title_focus', font => 'title_focus' } );
