%bindings = (frame =>  { 'Button1'       => 'move' },
             window => { 'Mod1 Button1'  => 'move',
                         'Control Mod1 Button1'  => 'size',
                         'Button1'               => '+click' } );
